<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../static/img/brand.svg" type="image/x-icon">
    <title>&nbsp;&nbsp;&nbsp;&nbsp;Hello World</title>
    <!-- Bootstrap CSS file -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Flask specific way to specify where the CSS file resides-->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <!--Getting the font from Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,400;1,300;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <!--Creates a navigation bar on the top, equivalent to creating a header-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top custom-navbar">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img src="../../static/img/brand.svg" height="38">
            </a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/about" class="nav-item nav-link">About Me</a>
                    <a href="/library" class="nav-item nav-link disabled">Python Library</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Landing page text to show behind main landing background image -->
    <div class="container content">
        <div class="row">
            <div class="col-md-6 left-table-section">
                <p class="lead text-center"><b>Python Libraries</b></p>
                </br/>
                <p class="lead text-center">
                    Table to show some more amazing Python libraries
                </p>
                <!--Using jinja template to render the python_info dictionary in html-->

                <table style="width:100%">
                    <tr class="python-table-header">
                            <td>Name</td>
                            <td>Founder</td>
                            <td>Status</td>
                            <td>Version #</td>
                    </tr>
                    <!--TO-DO: Populate the table below-->
                </table>
            </div>

            <div class="col-md-6 task-description">
                </br></br>
                </br></br>
                </br></br>
                <p class="lead">Can you populate the table on LEFT side of this text ? Look at about page for example ...</p>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS file Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>